<include file="User:ztree" />
<div id="page-wrapper">
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                   客户详细信息
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <form role="form" action="" method="post" class="form1">
                                <div class="form-group">
                                    <label>客户名称</label>
                                    {$cc.company_name}
                                        </div>
                                <div class="form-group">
                                    <label>地区</label>
                                    {$cc.company_area}
                                    </div>
                                <div class="form-group">
                                    <label> 详细地址</label>
                                    {$cc.company_addr}
   
                                </div>
                                <div class="form-group">
                                    <label>联系人名称</label>
                                     {$cc.link_name}
                                   
                                  
                                </div>
                                <div class="form-group">
                                    <label>性别</label>
                                    {$cc.link_sex}
                                    
                                </div>
                                <div class="form-group">
                                    <label>手机</label>
                                    {$cc.link_mobile}
                                    
                                </div>
                                <div class="form-group">
                                    <label>座机</label>
                                    {$cc.link_phone}
                                  
                                </div>
                                <div class="form-group">
                                    <label>部门</label>
                                    {$cc.link_dept}
                                    
                                </div>
                                <div class="form-group">
                                    <label>职位</label>
                                      {$cc.link_zhiwu}
                                   
                                </div>
                                <div class="form-group">
                                    <label>公司网址</label>
                                     {$cc.company_url}
                                  
                                </div>
                                <div class="form-group">
                                    <label>公司人数</label>
                                     {$cc.company_count}
                                    
                                </div>
                                <div class="form-group">
                                    <label>公司法人</label>
                                    {$cc.company_faren}
                                   
                                </div>
                                <div class="form-group">
                                    <label>备注</label>
                                      {$cc.comments}
                                  
                                </div>
                                <div class="form-group">
                                    <label>维护人</label>
                                      {$cc.weihuren}
                                   </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
